# Dependencies
/node_modules

# Compiled output
/out

# Packaged extension file
*.vsix

# Log files
*.log

# Development-specific VSCode settings.vscode/settings.json
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
# Test results
coverage/

.VSCodeCounter
